body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	letter-spacing: -1.4px;
	word-spacing: 0.4px;
	color: #000000;
	text-shadow: 2px 3px 2px rgba(0,0,0,0.29);
	font-weight: 400;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	background: rgba(0, 0, 0, 0);	
}

.info{	
	color:rgb(255, 255, 255);
	font-size: 30px;
}
#lance{
	font-size: 40px;
}

#prazo{
	font-variant: normal;
	font-size: 28px;
}
#valorkg{
	color: black;
	
	font-size: 24px;
}